<div class="panel panel-default">
    <div class="panel-body">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>名称</th>
                <th>线下价格</th>
                <th>指数价格</th>
                <th>期限差额</th>
                <th>升水比例</th>
                <th>汇率</th>
            </tr>
            </thead>
        </table>
        汇率：<input id="updateRate" data-bind="value:rate" /><input type="button" value="update" data-bind="click:update" />
    </div>
</div>
